
/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
.l-container,
.l-header ul.menu li a.active,
.l-header ul.menu li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.l-header {
  color: #fffeff;
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
a {
  color: #0071b3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.l-sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.l-footer-wrapper,
.l-footer {
  background: #292929;
}
.l-header a,
.l-footer-wrapper,
.l-footer {
  color: #fffeff;
}

h1, h2, h3, h4, h5, h6
{
color: #000;
}

tr.odd {
  background-color: #dddddd;
}

code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}

kbd {
  background-color: #f2f2f2;
  color: #666;
}

pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}

blockquote:before {
  color: #bbb;
}

blockquote {
  background: #f7f7f7;
}

blockquote:after {
  color: #bbb;
}

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}

table tr th a:hover {
color: #fff;
}

#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.block-system-header .site-name {
color: #686868;
}

.l-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
}

.l-header .form-text:hover,
.l-header .form-text:focus,
.l-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.l-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}


.l-header .block-user-login input.form-submit {
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
}

.l-header .block-user-login input.form-submit:hover,
.l-header .block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}

header.l-header, .l-header ul.menu li a.active, .l-header ul.menu li.active-trail a {
  color: #fff !important;
  background-color: #000  !important;
  background-image: none  !important;
}

.view-mode-teaser h2 a {
  color: #181818;
}

.meta {
  font-size: 0.857em;
}

article .link-wrapper ul.links {
  color: #68696b;
}

.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

.comment .submitted .comment-time {
color: #68696b;
}

.l-triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}

.l-triptych h2 {
  color: #000;
}

.l-footer-columns,
.l-footer {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
}

.l-footer-columns a,
.l-footer a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}

.l-footer-columns a:hover,
.l-footer-columns a:focus,
.l-footer a:hover,
.l-footer a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}

.l-footer-columns li a:hover,
.l-footer-columns li a:focus,
.l-footer li a:hover,
.l-footer li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
}

.l-footer-columns li a.active {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}

.l-footer-columns h2,
.l-footer h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}

.l-footer-columns li a,
.l-footer li a {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}

.l-footer .section {
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}

.l-footer .menu li a {
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}

[dir="rtl"] .l-footer .menu li a {
  border-left: 1px solid #555;
  border-right: none;
}

.l-footer-wrapper tr.odd {
  background-color: transparent;
}
.l-footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}

.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
}

.tabs ul.primary li.active a {
  background-color: #ffffff;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  color: #3b3b3b;
}

fieldset legend a {
  color: #3b3b3b;
}

fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}

fieldset .fieldset-description {
  color: #3c3c3c;
}

input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-color,
input.form-number,
input.form-search,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
border-color: #e4e4e4 #d2d2d2 #b4b4b4;
}

.js .dropbutton-widget {
  background-color: white;
}

.js .dropbutton-widget:hover {
  background-color: #f8f8f8;
  border-color: #b8b8b8;
}
.js .dropbutton-multiple.open .dropbutton-widget:hover {
  background-color: white;
}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-error,
.danger,
#edit-cancel,
.button-secondary {
  color: white;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error, .danger {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}

.button-warning, #edit-cancel {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.l-header ul.menu li a {
color: #fff;
}

.custom-menu-wrapper {
    background-color: #000;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-toggle .bar {
    background-color: white;
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-menu-bottom {
  border-top: 1px solid #eee;
  background-color: #808080\9;
}

li.node-readmore a
{
background-color: #fff;
}

footer.link-wrapper ul.links li
{
background-color: #fff;
}

#main-menu li a.active
{
  border-bottom: 1px solid #9daca9;
}

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}

.view-mode-teaser.sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
}

.l-sidebar tr.even,
.l-sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

.tabs ul.secondary li a.active {
  background: #f2f2f2;
}

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
}

div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
}
