@charset "UTF-8";
/**
 * Style file
 *
 * This file is compiled into css/your-custom.css
 * Uncomment the lines of the features you would like to use.
 * Comment the lines of the features you don't need on this website
 */

@import "../node_modules/susy/sass/susy";
@import "bourbon";
@import "neat";

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

/* ---------- Import parent theme base ---------- */
@import 'core/helpers/variables';
@import 'your-custom/helpers/variables';

@import 'core/helpers/functions';
@import 'your-custom/helpers/functions';

@import 'core/helpers/mixins';
@import 'your-custom/helpers/mixins';

@import 'core/helpers/extendables';
@import 'your-custom/helpers/extendables';

@import 'core/purecss/base';
@import 'core/purecss/buttons-core';
@import 'core/purecss/buttons';
@import 'core/purecss/forms-r';
@import 'core/purecss/forms';
@import 'core/purecss/grids-core';
@import 'core/purecss/tables';
@import 'core/purecss/menus-core';
@import 'core/purecss/menus-skin';
@import 'core/purecss/menus-dropdown';
@import 'core/purecss/menus-horizontal';
@import 'core/purecss/menus-scrollable';

@import 'core/design/typography';
@import 'your-custom/design/typography';

@import 'core/design/layout';
@import 'your-custom/design/layout';

@import 'core/design/components';
@import 'your-custom/design/components';

@import 'core/design/navigation';
@import 'your-custom/design/navigation';

@import 'core/design/colors';
@import 'your-custom/design/colors';
